body{
    width: 100%;
    height: 100vh;
    text-align: center;
    background: linear-gradient(to left,#060c3b, #00aeef);

}
main{
    margin-top: 5%;
    text-transform: capitalize;
    color: #ffffff;
    height: 100vh;
    width: 100%;
   
}
.categories{
    margin-right: 10%;
    margin-left: 10%;
}

.search{
    margin-left: -4%;
}
.search-bar{
    background: transparent;
}
#quote{
    margin-top: 100%;
    width: 100%;
    margin: 40% 15%;
}

 #next{
    height: 10vh;
    width: 100%;
    margin-left: 40%;
    border-radius: 15px;
    padding: 5% 15%;
    text-decoration: none;
    color: white;
    background: #1034a6;
}