*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    text-transform: capitalize;
    font-family: monospace;
}
#main{
    display: none;
}
#exit{
    font-size: 4rem;
    text-align: right;
    margin-left: 75%;
}
nav{
    background: linear-gradient(to left, #fe8dc6, #fed1c7);
    /* background: linear-gradient(to right,#ea8d8d, #a890fe); */
    position: absolute;
    width: 50%;
    height: 100vh;
    transition: ease-in-out;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);    
    color: white;
    left:0%;
    display: block;
    margin-left: -50%;
    z-index: 1;
    top: 0%;
    text-align: left;
}
nav ul li{
    margin-bottom: 20%;
    margin-top: 10%;
    margin-left: 5%;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
    border-bottom: 1px solid #040406;
    font-size: 1.2rem;
}

nav ul li a:hover{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #fff;
    font-size: 1.2rem;
}



#main header{
    margin: 0 5%;
    display: grid;
    grid-column-gap: 17%;
    grid-template-columns: 1fr 2fr 1fr;

}

.search img{
    margin: 6% -4%;
}
.categories{
    margin: 20%  0;

}
.hamburger{
    display:block;
    margin: 20%  0;
   

}

header img{
    width: 13%;
    position: absolute;
}
.search #remove-searh-bar{
    font-size: 2rem;
    position: absolute;
    margin-top: 15%;
    display:none ;
    color: #404040;
    margin-left: -5%;
}
.search-bar{
    margin-top: 17%;
    width: 70%;
    text-align: right;
    display: none;
    position: absolute;
    border-radius: 10px;
    border: 1px solid silver;
    height:4vh;
}
input:focus{
   outline: none;
}
button{
    border: none;
    background-color: transparent;
}

.bar{
    width: 50px;
    padding: 2px;
    height: 4px;
    display: block;
    margin: 5px 0;
    background-color: #000;
}
.bar1{
    width: 50px;
    padding: 2px;
    height: 4px;
    display: block;
    margin: 5px 0;
    background-color: #000;
}
.bar2{
    width: 50px;
    padding: 2px;
    height: 4px;
    display: block;
    margin: 5px 0;
    background-color: #000;
}
section{
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr;
}
section h1{
    font-weight:900;
    font-size: 1rem;
    margin-top: 5%;
   
}
.cont{
    margin-right: 10%;
    text-align: center;
    color: white;
    width: 100%;
    margin-bottom: 10%;
    padding: 0 5%;
    max-height: 50vh;
    border-radius: 20px;
    
}
.joy{
    background: #fe8dc6;
}
.love{
    
    background: palevioletred;
}
.mental{
    
    background: skyblue;
}
.productive{
    background: #588bae;
}
.emotional{
   
    background: #4b0076;
}
.mom{
    background: #2d5a27;
}

.inspirational{
    
    background: #722f37;
}

.leadership{
    
    background: #1034a6; 
}

.tech{
    
    background: #82d3c2;
}

.peace{
    background: #040406;
}


img{
    position: relative;
    width: 100%;
}

.love img{
    height: 28vh;
    margin-bottom: 10%;
    margin-top: 15%;
    border-radius: 80px;
    border: 10px solid pink;
}
.joy img{
    margin-bottom: 10%;
    height: 28vh;
    margin-top: 15%;
    border-radius: 80px;
    border: 10px solid purple;
}

.emotional img{
    height: 28vh;
    margin-bottom: 10%;
    margin-top: 15%;
    border-radius: 80px;
    border: 10px solid #ffaa1d;
}
.productive img{
    height: 28vh;
    margin-bottom: 10%;
    margin-top: 15%;
    border-radius: 80px;
    border: 10px solid #0e4d92;
}
.mental img{
    height: 28vh;
    margin-top: 15%;
    margin-bottom: 10%;
    border-radius: 80px;
    border: 10px solid #fa86c4;
}
.inspirational img{
    height:28vh;
    margin-bottom: 10%;
    margin-top: 15%;
    border-radius: 80px;
    border: 10px solid #ff5c5c;
}
.mom img{
    height: 28vh;
    margin-top: 15%;
    margin-bottom: 10%;
    border-radius: 80px;
    border: 10px solid #ff9899;
}
.tech img{
    height: 28vh;
    margin-top: 15%;
    margin-bottom: 10%;
    border-radius: 80px;
    border: 10px solid #01796f;
}
.leadership img{
    height: 28vh;
    margin-top: 15%;
    margin-bottom: 10%;
    border-radius: 80px;
    border: 10px solid #b80f0a;
}
.peace img{
    height: 28vh;
    margin-bottom: 10%;
    margin-top: 15%;
    border-radius: 80px;
    border: 10px solid #ffffff;
}
.dark-mode{
    font-size: 1.2rem;
}
.toggle span{
    float: right;
  }
  form{  
    margin-top: 0;
  }
  /* checkbox toggler */
  input[type=checkbox]{
      height: 0;
      width: 0;
      visibility: hidden;
  }

  .toggle label {
      cursor: pointer;
      text-indent: -9999px;
      width: 52px;
      height: 27px;
      background: gainsboro;
      float: right;
      border-radius: 100px;
      position: relative;
  }
  #exit{
      color: .toggle span{
        float: right;
      }
      form{  
        margin-top: 0;
      }
      /* checkbox toggler */
      input[type=checkbox]{
          height: 0;
          width: 0;
          visibility: hidden;
      }
    
      .toggle label {
          cursor: pointer;
          text-indent: -9999px;
          width: 52px;
          height: 27px;
          background: gainsboro;
          float: right;
          border-radius: 100px;
          position: relative;
      }
     .toggle label:after {
          content: '';
          position: absolute;
          top: 3px;
          left: 3px;
          width: 20px;
          height: 20px;
          background: #fff;
          border-radius: 90px;
          transition: 0.3s;
      }
     .toggle input:checked + label {
          background: #040406;
      }
     .toggle input:checked + label:after {
          left: calc(100% - 5px);
          transform: translateX(-100%);
      }
      .toggle label:active:after {
          width: 45px;
          
      };
  }
 .toggle label:after {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 90px;
      transition: 0.3s;
  }
 .toggle input:checked + label {
      background: #040406;
  }
 .toggle input:checked + label:after {
      left: calc(100% - 5px);
      transform: translateX(-100%);
  }
  .toggle label:active:after {
      width: 45px;
      
  }